@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans+KR:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

/* :root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4} */
html, body {
  height: 100%;
}

body {
  line-height: 1;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  /* 영문은 필요시 사용 */
  letter-spacing: -0.025em;
  /* 포토샵에서 -25라고 되어있음 */
  color: #222;
  min-width: 1246px;
  /* 화살표 포함 width */
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

.common-inner {
  width: 1100px;
  margin: 0 auto;
}

#skipNav {
  position: relative;
  z-index: 3000;
}

#skipNav a {
  position: absolute;
  top: -30px;
  left: 0;
  width: 138px;
  border: 1px solid #4ec53d;
  background: #333;
  text-align: center;
}

#skipNav a:active,
#skipNav a:focus {
  top: 0;
  text-decoration: none;
  z-index: 1000;
}

#skipNav span {
  display: inline-block;
  padding: 2px 6px 0 0;
  font-size: 13px;
  line-height: 26px;
  color: #fff;
  letter-spacing: -1px;
  white-space: nowrap;
}

.headline {
  font-size: 42px;
  color: #222;
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 500;
  text-align: center;
}

.header {
  padding-top: 35px;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 35px;
  background: #eee;
  top: 0;
  left: 0;
}
.header .group-flex {
  position: relative;
  width: 1100px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .group-flex .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .group-flex .logo a {
  display: block;
}
.header .group-flex .utill-area {
  display: flex; /* 여백 지우기 */
  position: absolute;
  right: 0;
  top: -35px;
  gap: 20px;
}
.header .group-flex .utill-area a {
  font-size: 14px;
  color: #858585;
  line-height: 35px;
  font-weight: 400;
}
.header .group-flex .sns-area {
  display: flex;
  gap: 21px;
  margin-left: -8px;
}
.header .gnb {
  border: 1px solid #ddd;
  border-width: 1px 0;
}
.header .gnb .gnb-list {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  text-align: center;
}
.header .gnb .gnb-list .gnb-item {
  flex: 1;
}
.header .gnb .gnb-list .gnb-item .link-depth {
  display: block;
  line-height: 60px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.header .gnb .gnb-list .gnb-item:hover .link-depth {
  color: #d71609;
}

.footer {
  background: #aaa;
  padding: 57px 0 50px;
}
.footer .common-inner {
  position: relative;
}
.footer .common-inner .group-info .addr-wrap {
  margin-top: 22px;
  line-height: 30px;
  color: #fff;
}
.footer .common-inner .group-info .addr-wrap a {
  display: inline-block;
  line-height: 30px;
}
.footer .common-inner .group-info .addr-wrap .addr-box:last-child {
  margin-top: 16px;
}
.footer .common-inner .sc-cs {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 300px;
  height: 165px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  line-height: 30px;
  color: #fff;
  padding: 27px 0 27px 22px;
  text-align: left;
}
.footer .common-inner .sc-cs h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.footer .common-inner .sc-cs .time {
  font-size: 18px;
}
.footer .common-inner .sc-cs .tel {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin-top: 24px;
}

.link-detail {
  display: block;
  width: 190px;
  height: 50px;
  border: 2px solid #222;
  text-align: center;
  line-height: 46px;
  /* border size minus */
  transition: all 0.3s;
}
.sc-recommend .link-detail {
  border: 2px solid #fff;
  position: absolute;
  bottom: 30px;
}

.link-detail:hover {
  background: #222;
  color: #fff;
}
.sc-recommend .link-detail:hover {
  background: transparent;
}

.btn-arr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 40px;
}
.btn-arr.prev {
  margin-left: -624px;
}
.btn-arr.next {
  margin-left: 600px;
}

.pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: flex;
  gap: 11px;
  height: 80px;
  align-items: center;
}
.pagination .bullet {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
.sc-slide .pagination .bullet {
  border: 2px solid #fff;
}
.sc-slide .pagination .bullet.active {
  background: #fff;
}
.sc-review .pagination .bullet {
  border: 2px solid #ddd;
}
.sc-review .pagination .bullet.active {
  background: #ddd;
}

.top-btn {
  position: fixed;
  background: #000;
  opacity: 0.8;
  bottom: 65px;
  right: 75px;
  border-radius: 50%;
}
.top-btn a {
  display: block;
  width: 50px;
  height: 50px;
}
.top-btn a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sc-slide {
  position: relative;
}
.sc-slide .slide {
  display: block;
}
.sc-slide .slide img {
  width: 100%;
}

.sc-intro .headline {
  padding: 85px 0 64px;
}
.sc-intro .inner {
  display: flex;
  justify-content: space-between;
}
.sc-intro .inner.reverse {
  flex-direction: row-reverse;
}
.sc-intro .inner .text-box {
  width: 510px;
}
.sc-intro .inner .text-box p {
  font-size: 18px;
  line-height: 28px;
  padding: 50px 0;
  text-align: justify;
}

.sc-recommend .headline {
  padding: 50px 0 58px;
}
.sc-recommend .content {
  position: relative;
  color: #fff;
  padding: 93px 0;
}
.sc-recommend .content .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.sc-recommend .content .common-inner .text-box {
  position: relative;
  width: 370px;
  height: 330px;
  background: rgba(34, 34, 34, 0.5);
  padding: 30px 20px;
}
.sc-recommend .content .common-inner .text-box h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 23px;
}
.sc-recommend .content .common-inner .text-box p {
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
}

.sc-events {
  margin-top: 100px;
}
.sc-events .event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sc-events .event-list .event-item {
  width: 500px;
}
.sc-events .event-list .event-item .text-box {
  padding: 30px 0;
}
.sc-events .event-list .event-item .text-box em {
  display: block;
  font-size: 18px;
  line-height: 28px;
  color: #858585;
}
.sc-events .event-list .event-item .text-box strong {
  margin: 22px 0 18px;
  font-size: 22px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}
.sc-events .event-list .event-item .text-box p {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 28px;
  max-height: 56px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  font-size: 18px;
  line-height: 28px;
}
.sc-events .event-list .event-item .link-detail {
  margin-bottom: 50px;
}

.sc-review {
  position: relative;
  padding-bottom: 80px;
}
.sc-review .headline {
  padding: 33px 0 70px;
}
.sc-review .rv-wrap {
  position: relative;
}
.sc-review .rv-wrap .rv-slide {
  display: flex;
  justify-content: space-between;
}
.sc-review .rv-wrap .rv-slide > div {
  width: 520px;
}
.sc-review .rv-wrap .rv-slide .text-box {
  position: relative;
  padding: 25px 0;
  width: 520px;
  height: 350px;
}
.sc-review .rv-wrap .rv-slide .text-box strong {
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  font-weight: bold;
  line-height: 28px;
}
.sc-review .rv-wrap .rv-slide .text-box p {
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 32px;
  max-height: 192px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  display: -webkit-box;
  margin-top: 7px;
  text-align: justify;
}
.sc-review .rv-wrap .rv-slide .text-box .link-detail {
  position: absolute;
  bottom: 25px;
}

.sc-board {
  padding: 30px 0 120px;
  display: flex;
  justify-content: space-between;
}
.sc-board .bd-flex {
  width: 510px;
}
.sc-board .bd-flex .bd-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #ddd;
}
.sc-board .bd-flex .bd-upper .headline-medium {
  font-size: 22px;
  line-height: 40px;
  font-weight: 500;
  padding: 10px 0;
  margin-left: 10px;
}
.sc-board .bd-flex .bd-list .bd-item {
  border-bottom: 1px solid #ddd;
}
.sc-board .bd-flex .bd-list .bd-item a {
  display: flex;
  margin-left: 10px;
}
.sc-board .bd-flex .bd-list .bd-item a .date {
  color: #888;
  line-height: 60px;
}
.sc-board .bd-flex .bd-list .bd-item a .text {
  margin-left: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 60px;
  max-height: 60px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
}