@mixin position($position:null) {
    position: absolute;
    @if($position=='ct'){
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @else if($position=='vt'){
        top: 50%;
        transform: translateY(-50%);
    }
    @else {
        left: 50%;
        transform: translateX(-50%);
    }
}

@mixin ellip($line,$lineHeight) {
    overflow:hidden;
    text-overflow: ellipsis;

    @if ($line > 1) {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
        max-height: $line*$lineHeight;
        line-height: $lineHeight;
    }

    @else {
        display: block;
        white-space: nowrap;
    }
}