// 슬라이드
.sc-slide {
    position: relative;

    .slide {
        display: block;

        img {
            width: 100%;
        }
    }
}

// 소개
.sc-intro {
    .headline {
        padding: 85px 0 64px;
    }

    .inner {
        display: flex;
        justify-content: space-between;

        &.reverse {
            flex-direction: row-reverse;
        }

        .text-box {
            width: 510px;

            p {
                font-size: 18px;
                line-height: 28px;
                padding: 50px 0;
                text-align: justify;
            }
        }
    }
}

// 추천
.sc-recommend {
    .headline {
        padding: 50px 0 58px;
    }

    .content {
        position: relative;
        color: #fff;
        padding: 93px 0;


        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            object-fit: cover;
            z-index: -1;
            width: 100%;
            height: 100%;
        }

        .common-inner {
            .text-box {
                position: relative;
                width: 370px;
                height: 330px;
                background: rgba(34, 34, 34, .5);
                padding: 30px 20px;

                h3 {
                    font-size: 22px;
                    font-weight: bold;
                    margin-bottom: 23px;
                }

                p {
                    font-size: 18px;
                    line-height: 28px;
                    text-align: justify;
                }
            }
        }
    }
}

// 이벤트
.sc-events {
    margin-top: 100px;

    .event-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .event-item {
            width: 500px;

            .text-box {
                padding: 30px 0;

                em {
                    display: block;
                    font-size: 18px;
                    line-height: 28px;
                    color: #858585;
                }

                strong {
                    margin: 22px 0 18px;
                    font-size: 22px;
                    font-weight: bold;
                    @include ellip;
                }

                p {
                    @include ellipsis(2, 28px);
                    font-size: 18px;
                    line-height: 28px;
                }
            }

            .link-detail {
                margin-bottom: 50px;
            }
        }
    }
}

// 리뷰영역
.sc-review {
    position: relative;
    padding-bottom: 80px;
    .headline {
        padding: 33px 0 70px;
    }
    
    .rv-wrap {
        position: relative;
        .rv-slide {
            display: flex;
            justify-content: space-between;
    
            & > div {
                width: 520px;
            }
            .text-box {
                position: relative;
                padding: 25px 0;
                width: 520px;
                height: 350px;
                strong {
                    font-size: 22px;
                    @include ellip;
                    font-weight: bold;
                    line-height: 28px;
                }
                p {
                    font-size: 18px;
                    @include ellipsis(6,32px);
                    margin-top: 7px;
                    text-align: justify;
                }
                .link-detail { 
                    position: absolute;
                    bottom: 25px;
                }
            }
        }
    }
}

// 게시판
.sc-board {
    padding: 30px 0 120px;
    display: flex;
    justify-content: space-between;

    .bd-flex {
        width: 510px;

        .bd-upper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 3px solid #ddd;
            .headline-medium {
                font-size: 22px;
                line-height: 40px;
                font-weight: 500;
                padding: 10px 0;
                margin-left: 10px;
            }
        }

        .bd-list {
            .bd-item {
                border-bottom: 1px solid #ddd;
                a {
                    display: flex;
                    margin-left: 10px;

                    .date {
                        color: #888;
                        line-height: 60px;
                    }
                    .text {
                        margin-left: 25px;
                        // line-height: 60px;
                        @include ellipsis(1,60px);
                        // @include ellip;
                    
                    }
                }
            }
        }
    }
}